<button class="btn btn-dark d-md-none d-block close-btn px-1 py-0 text-white m-2 position-absolute end-0"
    (click)="toggleSidebar()">
    {{ isSidebarOpen ? '✕' : '☰' }}
</button>


<div [ngClass]="{'d-none d-md-block': !isSidebarOpen}" class="bg-dark border-right p-3 side" id="">

    <div class="d-flex justify-content-between ">
        <h3>😎</h3>
        <h3 class="text-light text-center">GifApp</h3>
        <button class="btn btn-outline-danger btn-sm" (click)="clearHistory()">🗑️</button>
    </div>
    <hr class="text-light">

    <div class="content list-group list-reset">
        <button *ngFor="let tag of tagHistory" (click)="searchTag(tag)"
            class="list-group-item list-group-item-action text-start">
            📌 {{ tag | titlecase }}
        </button>
    </div>
</div>